@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');

* {
    padding: 0;
    margin: 0;
}
img {
    vertical-align: top;
}
button {
    cursor: pointer;
}
button:hover {
    background-color: rgba(255, 136, 0, 0.6);
    color: white;
    border: 2px solid white;
}
textarea {
    resize: none;
}
li {
    display: inline-block;
}
a{ 
    text-decoration: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
.section1 {
    background-image: url('../images/bg.png');
    background-size: cover; 
    width: 100%;
    height: 795px;
    overflow: hidden;    
}
.logo img{
    color: white;
    width: 150px;
    padding: 30px 100px;
    
}
.logo {
    display: inline-block;
    box-sizing: border-box;
    
}
.menu {
    float: right;
    padding: 30px 150px 30px 30px;
}
.menu ul li{
    line-height: 2.5;
    padding-left: 49px;
}
.menu ul li a{
    font-size: 23px;
    text-shadow: 1px -1px black;

}
.section1_image img {
    width: 50%;
    float: left;
}
.section1_image {
    padding: 0px 100px;
    box-sizing: border-box;
    
}
.section1_heading {
    font-size: 79px;
    padding: 50px 100px 10px 100px;
    color: white;
    display: inline-block;
    /* text-align: center; */
    text-shadow: 2px 1px black;

}
.subheading {
    font-size: 23px;
    color: white;
    padding: 0px 100px;
    display: inline-block;
    /* text-align: center; */
    letter-spacing: 1px;
}
.join_now {
    background-color: white;
    color: rgb(219, 143, 0);
    border: none;
    padding: 15px 22px;
    font-size: 20px;
    /* margin-left: 50px; */
    margin-top: 20px;
    border-radius: 10px;
    box-sizing: border-box;
}
.read_more {
    color: rgb(255, 255, 255);
    background-color: #FE8521;
    border: 2px solid white;
    padding: 13px;
    font-size: 20px;
    margin-left: 10px;
    margin-top: 20px;
    border-radius: 10px;
}
.buttons {
    padding-left: 100px;
    display: inline-block;
}
.section2 {
    padding: 30px 100px;
}
.section2_heading {
    text-align: center;
    color: rgb(255, 136, 0);
    font-weight: 700;
    font-family: 'Montserrat';
    font-size: 40px;
    position: relative;
    text-shadow: 1px 1px black;
}
.section2_heading::after {
    position: absolute;
    content: '';
    width: 100px;
    height: 3px;
    position: absolute;
    background-color: rgb(255, 136, 0);
    left: 50%;
    bottom: 0; 
    transform: translateX(-50%);

}
.section2_image {
    padding-top: 30px;
    margin: 0px auto;
    width: 70%;
    box-sizing: border-box;
}

.section2_image img {
    border: 3px solid rgb(255, 136, 0);
    border-radius: 20px;
    width: 100%;
    box-shadow: 10px 10px rgba(20, 0, 0, 0.37);
    
}


.section2_paragraph {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
    font-size: 25px;
    font-family: 'Arimo', sans-serif;
}
label {
    color: rgb(255, 136, 0);
    text-shadow: 1px 1px rgb(0, 0, 0, 0.19);
    display: block;
    font-weight: 600;
    line-height: 2;
    font-size: 20px;
   
    /* font-size: 25px; */

}
.section2_paragraph span {
    background-color: rgb(255, 136, 0);
    color: white;
    padding: 1px 1px;
}

.section3 {
    padding: 30px 100px;
    background-color: rgb(255, 136, 0);
    overflow: hidden;
}

.section3_heading {
    padding-top: 20px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-family: 'Montserrat';
    font-size: 40px;
    position: relative;
    text-shadow: 1px 1px black;
}
.section3_heading::after {
    position: absolute;
    content: '';
    width: 120px;
    height: 3px;
    position: absolute;
    background-color: rgb(255, 255, 255);
    left: 50%;
    bottom: 0; 
    transform: translateX(-50%);

}

.portfolio_images {
    float: left;
    width: 33.33%;
    box-sizing: border-box;
    padding-top: 28px;
    padding-bottom: 28px;
}
.portfolio_images img{
    width: 95.33%;
    padding: 5px;
    border-radius: 18px;
    box-shadow: 2px 2px 2px 2px rgb(0, 0, 0, 0.26);    
}

.portfolio_images img:hover {
    transition: 0.3s linear;
    transform: scale(1.1);
    cursor: pointer;
}

.contact_us {
    padding: 20px 100px;
    overflow: hidden;
}
.contact_us .contact_title {
    color: rgb(255, 136, 0);
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    position: relative;
    margin-bottom: 20px;
    text-shadow: 1px 1px black;

}
.contact_title:after {
    content: '';
    width: 100px;
    height: 2px;
    position: absolute;
    background-color: rgb(255, 136, 0);
    left: 50%;
    bottom: 0;
    transform: translateX(-50%)
}
.form_styles {
    max-width: 500px;
    margin: 0 auto;
}

.form_styles input, .form_styles textarea {
    width: 100%;
    line-height: 2;
    padding: 5px 10px;
    font-size: 18px;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;

}
.form_styles input[type="submit"],
.form_styles input[type="reset"]{
    width: auto;
    min-width: 139px;
    background-color: white;
    color: color ;
    font-size: 18px;
    cursor: pointer;
}
.form_styles input[type="submit"]:hover,
.form_styles input[type="reset"]:hover {
    box-shadow: 1px 1px 1px 1px rgb(0, 0, 0, 0.17);
}

.form_styles input[type="submit"]{
    background-color: rgb(255, 136, 0);
    color: white;
}


footer {
    background-color: rgb(255, 136, 0);
    color: white;
    height: 34px;
    font-size: 19px;
    text-align: center;
}

.up_to_top {
    background-color: rgb(180, 96, 0);
    color: white;
    display: block;
    width: 50px;
    height: 50px;
    bottom: 50px;
    right: 10px;
    line-height: 1.4;
    text-align: center;
    font-size: 37px;
    font-weight: 600;
    border-radius: 50%;
    position: fixed;
}
a.mobile_menu {
    display: none;
}

@media screen and (max-width: 1024px) {
    .logo {
        width: 20%;
    }
    .menu {
        padding: 30px 30px 30px 30px;
    }
    .logo img {
        padding: 30px 30px;
    }
    .section1_image {
        padding: 0 30px;
    }
    .section1_heading {
        font-size: 65px;
        padding: 8px 30px 10px 10px
    }
    .subheading {
        font-size: 18px;
        padding: 0px 9px;
    }
    .buttons {
        padding-left: 12px;
    }
    .section2 {
        padding: 0px 30px;
    }
    .section3 {
        padding: 0px 30px;
    }
    .contact_us {
        padding: 0 30px;
    }
    a.mobile_menu {
        display: none;
    }
}
@media screen and (max-width: 768px) {
    .section1_image img {
        display: none;
    }
    .section1_heading {
        font-size: 56px;
        padding: 8px 0px 10px 18px;
    }
    .subheading {
        display: block;
        font-size: 15px;
        padding: 0px 18px;
    }
    .section1 {
        height: 543px;
    }
    .menu ul li {
        padding-left: 17px;
    }
    .menu ul li a {
        font-size: 21px;
    }
    .buttons {
        padding-left: 17px;
    }
    a.mobile_menu {
        display: none;
    }
}
@media screen and (max-width: 421px) {
    .section2_image, .portfolio_images, .section2_paragraph {
        float: none;
        width: 100%;
    }
    .section2_paragraph {
        text-align: left;
        line-height: 1.3;
    }
    a.mobile_menu {
        display: inline-block;
        position: absolute;
        top: 35px;
        right: 16px;
    }
    .menu ul li {
        display: block;
        text-shadow: none;
    }
    .menu ul li a {
        color: rgb(255, 136, 0);
        text-shadow: none;
    }
    
    ul {
        display: none;
        background: white;
        top: 0;
        position: absolute;
        z-index: 999;
        left: 0;
        right: 0;
    }
    a.mobile_menu:hover + ul, 
    a.mobile_menu:focus + ul {
        display: block;
    }
    ul li {
        text-align: center;
        padding: 3px 0;
    }
}